<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div>
      <h1>Login</h1>
      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}
      <form method="POST" action="/login">
          {{ form.csrf_token }}
          {{ form.username.label }} {{ form.username }}
          {{ form.password.label }} {{ form.password }}
          <input type="submit" value="Go">
      </form>
    </div>
  </body>
</html>
